@import "./reset";
@import "./vars";
@import "./mixins";

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}
body {
  background-color: #2b4162;
  background-image: linear-gradient(315deg, #12100e 0%, #2b4162 74%);
  background-attachment: fixed;  
}
body.modal-active {
  overflow: hidden;
}
//  body {
//     scrollbar-width: thin;
//     scrollbar-color: transparent transparent;
//   }

//   /* Customize the scrollbar track and thumb */
//   body::-webkit-scrollbar {
//     width: 6px;
//   }

//   body::-webkit-scrollbar-track {
//     background-color: transparent;
//   }

//   body::-webkit-scrollbar-thumb {
//     background-color: transparent;
//   }
